<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>FEEDBACK_API_KEY</key>
	<string>$(FEEDBACK_API_KEY)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Monitor uses Face ID to protect your private thoughts and mental health data.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
